@model AstronomyPictureOfTheDay

<form method="post">
    <div class="form-group">
        <label asp-for="Date" class="control-label"></label>
        <input asp-for="Date" id="datepicker" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"></span>

        <button type="submit" class="btn btn-primary">Update</button>
    </div>
</form>

@if (Model.Url.Contains("youtube.com") || Model.Url.Contains("vimeo.com"))
{
    <div class="embed-responsive apod-element-size">
        <iframe class="embed-responsive-item" src="@Model.Url" allowfullscreen></iframe>
    </div>
}
else
{
    <img class="apod-element-size" src="@Model.Url" />
    
    <a href="@Model.HdUrl" target="_blank" rel="noopener noreferrer">Open Hd Version</a>
}

<p>
    @Model.Title
</p>

<p>
    @Model.Explanation
</p>

@section Scripts
{
    <script>
        $(function () {
            $('#datepicker').val('@Model.Date.ToString("yyyy-MM-ddThh:mm")');
        });
    </script>

    <partial name="_ValidationScriptsPartial" />
}